config router bgp
    set as {{ bgp.asn }}
    set router-id {{ lo_bgp.ip.split()[0] }}
    set ebgp-multipath {{ bgp.ebgp_multipath }}
    set ibgp-multipath {{ bgp.ibgp_multipath }}
    set graceful-restart {{ bgp.graceful_restart }}
    set recursive-next-hop {{ bgp.recursive_next_hop }}
    set tag-resolve-mode {{ bgp.tag_resolve_mode }}

{% if bgp.session_mode == "loopback" %}
    config neighbor-group
        edit "loopback-bgp"
            set advertisement-interval {{ bgp.advertisement_interval }}
{% if bgp.capability_graceful_restart == "enable" %}
            set capability-graceful-restart {{ bgp.capability_graceful_restart }}
{% endif %}
            set next-hop-self {{ bgp.next_hop_self }}
{% if bgp.soft_reconfiguration == "enable" %}
            set soft-reconfiguration {{ bgp.soft_reconfiguration }}
{% endif %}
            set soft-reconfiguration6 {{ bgp.soft_reconfiguration6 }}
{% if bgp.ebgp_enforce_multihop == "enable" %}
            set ebgp-enforce-multihop {{ bgp.ebgp_enforce_multihop }}
{% endif %}
            set update-source "{{ lo_bgp.interface }}"
            set remote-as {{ bgp.remote_as }}
            set keep-alive-timer {{ bgp.keep_alive_timer }}
            set holdtime-timer {{ bgp.holdtime_timer }}
        next
    end

    config neighbor-range
        edit 1
            set prefix 10.250.0.0 255.255.255.0
            set neighbor-group "loopback-bgp"
        next
    end
{% endif %}

    config neighbor
{% if bgp.session_mode == "loopback" %}
{% for hub_name in groups['hub_devices'] | sort %}
{% set neighbor_ip = hostvars[hub_name].lo_bgp.ip.split()[0] %}
        edit "{{ neighbor_ip }}"
            set advertisement-interval {{ bgp.advertisement_interval }}
            set activate6 {{ bgp.activate6 }}
            set capability-graceful-restart6 {{ bgp.capability_graceful_restart6 }}
            set next-hop-self {{ bgp.next_hop_self }}
{% if bgp.soft_reconfiguration == "enable" %}
            set soft-reconfiguration {{ bgp.soft_reconfiguration }}
{% endif %}
            set soft-reconfiguration6 {{ bgp.soft_reconfiguration6 }}
{% if bgp.ebgp_enforce_multihop == "enable" %}
            set ebgp-enforce-multihop {{ bgp.ebgp_enforce_multihop }}
{% endif %}
            set update-source "{{ lo_bgp.interface }}"
            set remote-as {{ bgp.remote_as }}
            set keep-alive-timer {{ bgp.keep_alive_timer }}
            set holdtime-timer {{ bgp.holdtime_timer }}
            set route-map-out "{{ branch_bgp_route_maps[hub_name] }}"
        next
{% endfor %}
{% else %}
{% for t in tunnel_matrix %}
{% set neighbor_ip = "10.250." ~ t.network_id ~ ".1" %}
        edit "{{ neighbor_ip }}"
            set advertisement-interval {{ bgp.advertisement_interval }}
            set activate6 {{ bgp.activate6 }}
            set capability-graceful-restart6 {{ bgp.capability_graceful_restart6 }}
            set next-hop-self {{ bgp.next_hop_self }}
{% if bgp.soft_reconfiguration == "enable" %}
            set soft-reconfiguration {{ bgp.soft_reconfiguration }}
{% endif %}
            set soft-reconfiguration6 {{ bgp.soft_reconfiguration6 }}
{% if bgp.ebgp_enforce_multihop == "enable" %}
            set ebgp-enforce-multihop {{ bgp.ebgp_enforce_multihop }}
{% endif %}
            set interface "{{ t.name }}"
            set remote-as {{ bgp.remote_as }}
            set keep-alive-timer {{ bgp.keep_alive_timer }}
            set holdtime-timer {{ bgp.holdtime_timer }}
            set route-map-out "{{ t.name }}"
        next
{% endfor %}
{% endif %}
    end

    config network
        edit 1
            set prefix {{ lan.subnet }}
        next
{% if lo_bgp is defined and lo_bgp.ip is defined %}
        edit 2
            set prefix {{ lo_bgp.network | default(lo_bgp.ip.split()[0].rsplit('.', 1)[0] ~ '.0 ' ~ bgp.loopback_network_mask) }}
        next
{% endif %}
    end
end
