config router bgp
    set as {{ bgp.asn }}
    set router-id {{ lo_bgp.ip.split()[0] }}
    set ebgp-multipath {{ bgp.ebgp_multipath }}
    set ibgp-multipath {{ bgp.ibgp_multipath }}
    set recursive-next-hop {{ bgp.recursive_next_hop }}
    set graceful-restart {{ bgp.graceful_restart }}

    config neighbor-group
{% if bgp.session_mode == "loopback" %}
        edit "BRANCH-LOOPBACK"
            set advertisement-interval {{ bgp.advertisement_interval }}
{% if bgp.capability_graceful_restart == "enable" %}
            set capability-graceful-restart {{ bgp.capability_graceful_restart }}
{% endif %}
            set next-hop-self {{ bgp.next_hop_self }}
            set next-hop-self-rr {{ bgp.next_hop_self_rr }}
{% if bgp.soft_reconfiguration == "enable" %}
            set soft-reconfiguration {{ bgp.soft_reconfiguration }}
{% endif %}
{% if bgp.ebgp_enforce_multihop == "enable" %}
            set ebgp-enforce-multihop {{ bgp.ebgp_enforce_multihop }}
{% endif %}
            set remote-as {{ bgp.remote_as }}
            set keep-alive-timer {{ bgp.keep_alive_timer }}
            set holdtime-timer {{ bgp.holdtime_timer }}
            set connect-timer {{ bgp.connect_timer }}
            set update-source "{{ lo_bgp.interface }}"
            set route-reflector-client {{ bgp.route_reflector_client }}
            set route-map-in "RM-HUB-FAIL"
        next
{% else %}
{% for t in hub_overlay_interfaces | sort(attribute='network_id') %}
        edit "VPN{{ t.network_id }}"
            set advertisement-interval {{ bgp.advertisement_interval }}
{% if bgp.capability_graceful_restart == "enable" %}
            set capability-graceful-restart {{ bgp.capability_graceful_restart }}
{% endif %}
            set next-hop-self {{ bgp.next_hop_self }}
            set next-hop-self-rr {{ bgp.next_hop_self_rr }}
{% if bgp.soft_reconfiguration == "enable" %}
            set soft-reconfiguration {{ bgp.soft_reconfiguration }}
{% endif %}
{% if bgp.ebgp_enforce_multihop == "enable" %}
            set ebgp-enforce-multihop {{ bgp.ebgp_enforce_multihop }}
{% endif %}
            set interface "{{ t.name }}"
            set remote-as {{ bgp.remote_as }}
            set keep-alive-timer {{ bgp.keep_alive_timer }}
            set holdtime-timer {{ bgp.holdtime_timer }}
            set connect-timer {{ bgp.connect_timer }}
            set update-source "{{ t.name }}"
            set route-reflector-client {{ bgp.route_reflector_client }}
            set route-map-in "RM-HUB-{{ t.network_id }}"
        next
{% endfor %}
{% endif %}
    end

    config neighbor-range
{% if bgp.session_mode == "loopback" %}
{% for branch_name in groups['branch_devices'] | sort %}
{% set branch_lo = hostvars[branch_name].lo_bgp.ip.split()[0] %}
        edit {{ loop.index }}
            set prefix {{ branch_lo }} 255.255.255.255
            set neighbor-group "BRANCH-LOOPBACK"
        next
{% endfor %}
{% else %}
{% for t in hub_overlay_interfaces | sort(attribute='network_id') %}
        edit {{ loop.index }}
            set prefix {{ t.overlay_subnet }}
            set neighbor-group "VPN{{ t.network_id }}"
        next
{% endfor %}
{% endif %}
    end

    config network
        edit 1
            set prefix {{ lan.subnet }}
        next
{% if lo_bgp is defined and lo_bgp.ip is defined %}
        edit 2
            set prefix {{ lo_bgp.network | default(lo_bgp.ip.split()[0].rsplit('.', 1)[0] ~ '.0 ' ~ bgp.loopback_network_mask) }}
        next
{% endif %}
    end

    config network6
        edit 1
            set prefix6 ::/128
        next
    end

    config redistribute "connected"
    end
    config redistribute "rip"
    end
    config redistribute "ospf"
    end
    config redistribute "static"
    end
    config redistribute "isis"
    end
    config redistribute6 "connected"
    end
    config redistribute6 "rip"
    end
    config redistribute6 "ospf"
    end
    config redistribute6 "static"
    end
    config redistribute6 "isis"
    end
end
