config vpn ipsec phase2-interface
{% for t in hub_overlay_interfaces | sort(attribute='network_id') %}
    edit "{{ t.name }}"
        set phase1name "{{ t.name }}"
        set proposal {{ phase2.proposal }}
        set dhgrp {{ phase2.dhgrp }}
        set keylifeseconds {{ phase2.keylifeseconds }}
    next
{% endfor %}
end
