config vpn ipsec phase2-interface
{% for t in hub_overlay_interfaces | sort(attribute='network_id') %}
    edit "{{ t.name }}"
        set phase1name "{{ t.name }}"
        set proposal {{ phase2.proposal }}
        set dhgrp {{ phase2.dhgrp }}
        set auto-negotiate {{ phase2.auto_negotiate }}
        set keylifeseconds {{ phase2.keylifeseconds }}
        set src-subnet {{ phase2.src_subnet }}
        set dst-subnet {{ phase2.dst_subnet }}
    next
{% endfor %}
end
