config vpn ipsec phase1-interface
{% for t in hub_overlay_interfaces | sort(attribute='network_id') %}
{% set overlay_network = t.overlay_subnet.split(' ')[0].split('.') %}
    edit "{{ t.name }}"
        set type dynamic
        set interface "{{ wan[t.underlay_wan].interface }}"
        set ike-version {{ ike_version }}
        set peertype any
{% if bgp.session_mode == "loopback" %}
        set net-device disable
{% else %}
        set net-device {{ net_device }}
{% endif %}
{% if bgp.session_mode == "loopback" %}
        set exchange-interface-ip enable
        set exchange-ip-addr4 {{ lo_bgp.ip.split()[0] }}
{% else %}
        set mode-cfg {{ mode_cfg }}
{% endif %}
        set proposal {{ proposal }}
        set add-route {{ add_route }}
        set localid "{{ fgt_hostname }}"
        set dpd {{ dpd }}
        set npu-offload disable
        set dhgrp {{ dhgrp }}
        set auto-discovery-sender enable
        set auto-discovery-forwarder enable
        set network-overlay {{ network_overlay }}
        set network-id {{ t.network_id }}
{% if bgp.session_mode != "loopback" %}
        set ipv4-start-ip {{ overlay_network[0] }}.{{ overlay_network[1] }}.{{ overlay_network[2] }}.20
        set ipv4-end-ip {{ overlay_network[0] }}.{{ overlay_network[1] }}.{{ overlay_network[2] }}.250
        set ipv4-netmask 255.255.255.0
{% endif %}
        set psksecret {{ psksecret }}
        set dpd-retryinterval {{ dpd_retryinterval }}
    next
{% endfor %}
end
