config system interface
{% for t in hub_overlay_interfaces | sort(attribute='network_id') %}
{% set overlay_network = t.overlay_subnet.split()[0] %}
{% set overlay_prefix = overlay_network.rsplit('.', 1)[0] %}
    edit "{{ t.name }}"
        set vdom "root"
{% if bgp.session_mode != "loopback" %}
        set ip {{ overlay_prefix }}.1 255.255.255.255
{% endif %}
        set allowaccess ping
        set type tunnel
{% if bgp.session_mode != "loopback" %}
        set remote-ip {{ overlay_prefix }}.254 255.255.255.0
{% endif %}
        set interface "{{ wan[t.underlay_wan].interface }}"
    next
{% endfor %}
end
