config system interface
{% if lan is defined %}
    edit "{{ lan.interface }}"
        set ip {{ lan.ip }}
        set allowaccess ping http https ssh
    next
{% endif %}
{% for wan_name, wan_data in wan.items() %}
    edit "{{ wan_data.interface }}"
{% if wan_data.ip is defined %}
        set ip {{ wan_data.ip }}
{% endif %}
        set allowaccess ping http https ssh
    next
{% endfor %}
end