config system zone
    edit "Data"
        set interface "{{ lan.interface }}"
    next
end

config system sdwan
    set status enable

    config zone
        edit "virtual-wan-link"
        next
        edit "inet"
        next
        edit "vpnsdwan"
        next
    end

    config members
{% for t in hub_overlay_interfaces %}
        edit {{ t.member_id }}
            set interface "{{ t.name }}"
            set zone "vpnsdwan"
        next
{% endfor %}
        edit {{ hub_overlay_interfaces | map(attribute='member_id') | max + 1 }}
            set interface "{{ wan.wan2.interface }}"
            set zone "inet"
        next
        edit {{ hub_overlay_interfaces | map(attribute='member_id') | max + 2 }}
            set interface "{{ wan.wan1.interface }}"
            set zone "inet"
        next
    end

    config service
        edit 1
            set name "{{ hub_sdwan_inet_service.name }}"
            set dst "{{ hub_sdwan_inet_service.dst }}"
            set dst-negate {{ hub_sdwan_inet_service.dst_negate }}
            set src "{{ hub_sdwan_inet_service.src }}"
            set priority-members {{ hub_overlay_interfaces | map(attribute='member_id') | max + 1 }} {{ hub_overlay_interfaces | map(attribute='member_id') | max + 2 }}
            set priority-zone "inet"
        next
{% for t in hub_overlay_interfaces | sort(attribute='network_id') %}
        edit {{ 50 + loop.index }}
            set name "SDWAN_{{ t.network_id }}"
            set route-tag {{ t.network_id }}
            set src "rfc1918grp"
            set priority-members {{ t.member_id }}
        next
{% endfor %}
    end
end

config firewall policy
    edit 0
        set name "vpnsdwan-to-vpnsdwan"
        set srcintf "vpnsdwan"
        set dstintf "vpnsdwan"
        set action accept
        set srcaddr "all"
        set dstaddr "all"
        set schedule "always"
        set service "ALL"
    next
    edit 0
        set name "vpnsdwan-to-Data"
        set srcintf "vpnsdwan"
        set dstintf "Data"
        set action accept
        set srcaddr "all"
        set dstaddr "all"
        set schedule "always"
        set service "ALL"
    next
    edit 0
        set name "Data-to-vpnsdwan"
        set srcintf "Data"
        set dstintf "vpnsdwan"
        set action accept
        set srcaddr "all"
        set dstaddr "all"
        set schedule "always"
        set service "ALL"
    next
    edit 0
        set name "vpnsdwan-to-loopback"
        set srcintf "vpnsdwan"
        set dstintf "loopbacksdwan"
        set action accept
        set srcaddr "all"
        set dstaddr "all"
        set schedule "always"
        set service "ALL"
    next
    edit 0
        set name "Data-to-inet"
        set srcintf "Data"
        set dstintf "inet"
        set srcaddr "all"
        set dstaddr "all"
        set action accept
        set schedule "always"
        set service "ALL"
        set nat enable
    next
end
