config system sdwan
    set status enable

    config zone
        edit "virtual-wan-link"
        next
        edit "inet"
        next
        edit "vpnsdwan"
        next
    end

    config members
{% for t in tunnel_matrix %}
        edit {{ loop.index }}
            set interface "{{ t.name }}"
            set zone "vpnsdwan"
            set source {{ lo_bgp.ip.split()[0] }}
        next
{% endfor %}
        edit {{ tunnel_matrix | length + 1 }}
            set interface "{{ wan.wan1.interface }}"
            set zone "inet"
        next
        edit {{ tunnel_matrix | length + 2 }}
            set interface "{{ wan.wan2.interface }}"
            set zone "inet"
        next
    end

    config health-check
{% for hc in sdwan_health_checks %}
        edit "{{ hc.name }}"
            set server "{{ hc.server }}"
{% if hc.detect_mode is defined %}
            set detect-mode {{ hc.detect_mode }}
{% endif %}
{% if hc.interval is defined %}
            set interval {{ hc.interval }}
{% endif %}
{% if hc.failtime is defined %}
            set failtime {{ hc.failtime }}
{% endif %}
{% if hc.recoverytime is defined %}
            set recoverytime {{ hc.recoverytime }}
{% endif %}
            set members {{ hc.members | join(' ') }}
            config sla
                edit 1
{% if hc.sla_link_cost_factors is defined %}
                    set link-cost-factor {{ hc.sla_link_cost_factors | join(' ') }}
{% endif %}
{% if hc.latency_threshold is defined %}
                    set latency-threshold {{ hc.latency_threshold }}
{% endif %}
                    set packetloss-threshold {{ hc.packetloss_threshold }}
                next
            end
        next
{% endfor %}
    end

    config service
{% for svc in sdwan_services %}
        edit {{ loop.index }}
            set name "{{ svc.name }}"
            set mode {{ svc.mode | default('priority') }}
            set dst "{{ svc.dst | default('all') }}"
            set health-check "{{ svc.health_check }}"
{% if svc.tie_break is defined %}
            set tie-break {{ svc.tie_break }}
{% endif %}
            set link-cost-factor {{ svc.link_cost_factor | default('packet-loss') }}
{% if svc.minimum_sla_meet_members is defined %}
            set minimum-sla-meet-members {{ svc.minimum_sla_meet_members }}
{% endif %}
            set priority-members {{ svc.priority_members | join(' ') }}
        next
{% endfor %}
        edit {{ sdwan_services | length + 1 }}
            set name "{{ sdwan_inet_service.name }}"
            set dst "{{ sdwan_inet_service.dst }}"
            set dst-negate {{ sdwan_inet_service.dst_negate }}
            set priority-zone "inet"
            set priority-members {{ tunnel_matrix | length + 1 }} {{ tunnel_matrix | length + 2 }}
        next
    end
end

config system zone
    edit "Data"
        set interface "{{ lan.interface }}"
    next
end


config firewall policy
    edit 0
        set name "allow-all-trusted"
        set srcintf "{{ lo_bgp.interface }}" "{{ lo_hc.interface }}" "vpnsdwan" "Data"
        set dstintf "vpnsdwan" "{{ lo_bgp.interface }}" "{{ lo_hc.interface }}" "Data"
        set action accept
        set srcaddr "all"
        set dstaddr "all"
        set schedule "always"
        set service "ALL"
    next
    edit 0
        set name "Data-to-inet"
        set srcintf "Data" "{{ lo_bgp.interface }}" "{{ lo_hc.interface }}"
        set dstintf "inet"
        set action accept
        set srcaddr "all"
        set dstaddr "all"
        set schedule "always"
        set service "ALL"
        set nat enable
    next
end

config router static
    edit 1
        set distance 1
        set sdwan-zone "inet"
    next
end
